<!DOCTYPE html>
<html>

<head>
</head>
<body style="padding: 100px;">
    <header>

    </header>
    <nav>
    </nav>
    <table style="width:400px;">
        <tr>
            <td><div style="width:40px;height:60px;background-color:rgb(198, 219, 237)"></div></td>
            <td><div style="width:10px;height:60px;background-color: rgb(232, 203, 109);"></div></td>
            <div style="width:170px;height:60px;background-color: rgb(235, 194, 8);"></div>
            <div style="width:160px;height:60px;background-color: pink"></div>
            
        </tr>
        <tr>
            <td style="width:240px;height:60px;background-color:rgb(198, 219, 237)"></td>
            <td style="width:160px;height:60px;background-color: pink"></td>
        </tr>
    </table>
    <footer>

    </footer>
</body>

</html>