<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="layout.css" type="text/css" />
</head>

<body style="background-color:lightgray;">
    <div id="container">
        <div id="box-40-50" class="box-lightblue"></div>
        <div id="box-30-50" class="box-lightpink"></div>
        <div id="box-170-50" class="box-lightorange"></div>
        <div id="box-160-50" class="box-pink"></div>
        <div id="box-240-60" class="box-lightblue"></div>
        <div id="box-160-60" class="box-pink"></div>
        <div id="box-80-180" class="box-lightblue"></div>
        <div id="box-160-180" class="box-gray"></div>
        <div id="box-160-180" class="box-pink"></div>
        <div id="box-240-40" class="box-lightblue"></div>
        <div id="box-160-40" class="box-pink"></div>
        <div id="box-40-50" class="box-lightblue"></div>
        <div id="box-20-50" class="box-lightgreen"></div>
        <div id="box-180-50" class="box-green"></div>
        <div id="box-160-25" class="box-pink"></div>
        <div id="box-160-25" class="box-white"></div>
        <div id="box-240-40" class="box-lightblue"></div>
        <div id="box-160-40" class="box-white"></div>
        <div id="box-40-50" class="box-lightblue"></div>
        <div id="box-30-50" class="box-lightpink"></div>
        <div id="box-170-50" class="box-lightorange"></div>
        <div id="box-160-50" class="box-white"></div>
        <div id="box-240-40" class="box-lightblue"></div>
        <div id="box-160-40" class="box-white"></div>
    </div>
</body>

</html>